<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="path_to/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="path_to/simplePagination.css"/>
<script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>
    <script src="/js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" href="css/animate.css" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="font-family: 'Comfortaa', cursive; background-size: contain;">
    <div class="header">
      <a href="#" class="logo">Royalty</a>
    </div>
    <div class="grid-container background-size:contain" >
      <div class="grid-item">
        <p>i</p>

        <button id="openBtn" class="openbtn" onclick="openNav()">
          OPTION
        </button>
        <label class="field a-field a-field_a3">
          <input class="field__input a-field__input" placeholder="eg 123" id="QUANTITY" required>
          <span class="a-field__label-wrap">
              <span class="a-field__label"  id="fill">QUANTITY</span>
      </div>
      <div id="mySidebar" class="grid-item sidebar" >
        <a href="javascript:void(0)" onclick="closeNav()" class="closebtn">x</a>
        <select class="select-box" name="dropdown" id="dropdown"  onclick="highlight()">
          <option value="">Select one...</option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
      </div>
      
      <div id="main" class="grid-item background_image">
        <div id="overlay"></div>

        <div class="align">
          <ol class="oll" id="ordered-list">
            <!-- <li class="lii" id="A1">
                        <div class="dot">
                            <div class="position">1</div>
                        </div>Item A1
                    </li>
                    <li class="lii">
                        <div class="dot">
                            <div class="position">2</div>
                        </div>Item A2
                    </li>
                    <li class="lii" id="A3" >
                        <div class="dot" >
                            <div class="position"  id="A3.1">3</div>
                        </div>Item A3
                    </li> -->
          </ol>
          <div class="arrange"  id="page_navigation">
            <a href="#1" id="current_page"><img src="img/Left cheveron.png" alt="" /></a>
            <div class="padding"></div>
            <a href="#2" id="show_per_page"><img src="img/Right cheveron-2.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <!-- <p>Author: Hege Refsnes<br> -->
      <a href="#" style="text-decoration: none; color: rgb(177, 177, 177);"
        >&copy Copyright 2020</a
      >
    </footer>
  </body>
</html>
